
.body {
 margin-right:auto;
 margin-left:auto;
 max-width: 960px;
 text-align: center;
 font-family: Arial, sans-serif; 
 font-size: 1.4em; 
 line-height: 1.2;
 background-color: ##cccccc;
 }

.headline {
	background-color: #996633;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	max-width: 960px;
	font-size: 8em;
	text-align: center;
	font-family: Arial, sans-serif; 
	color: white;
	
}

.below {
	padding-left: 2em;
	padding-bottom: 2em;
}

.info {
	 margin-right:auto;
	 margin-left:auto;
	 max-width: 960px;
	 text-align: center;
	font-family: Arial, sans-serif; 
	font-size: 2em;
	padding-left: 4em;
	padding-right: 4em;
}

.photo {
	
	margin-right:auto;
	 margin-left:auto;
	 max-width: 960px;
}

