
.body {
 margin-right:auto;
 margin-left:auto;
 max-width: 960px;
 text-align: center;
 font-family: Arial, sans-serif; 
 font-size: 1.4em; 
 line-height: 1.2;
 background-color: ##cccccc;
 }

.header {
	background-color: #996633;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	text-align: center;
	font-family: Arial, sans-serif; 
	
}

.below {
	padding-left: 2em;
	padding-bottom: 2em;
}

.info {
	 margin-right:auto;
	 margin-left:auto;
	 max-width: 960px;
	 text-align: center;
}


	

